<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>vaultwarden-serverless tools</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body>
        <header>
            <h1>vaultwarden-serverless tools</h1>
        </header>

        <main>
            <h3>Import Result</h3>

            <p class="notice">
                param_result
            </p>

            <p><b>Notice:</b> <mark>Running (warm) lambdas will still use old configs!</mark> To ensure lambdas are replaced, manually set a fixed concurrency of 0 and wait until service is unavailable, then revert to automatic setting.</p>
            <p>
                <a href="./">Back to overview</a>
            </p>
        </main>
    </body>
</html>