<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>vaultwarden-serverless tools</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body>
        <header>
            <h1>vaultwarden-serverless tools</h1>
        </header>

        <main>
            <h3>Login</h3>

            <p class="notice" style="display: param_display_error">Could not login: Invalid password or no ADMIN_TOKEN set.</p>

            <form method="post">
                <p>
                    <label for="token">Admin Token</label>
                    <input type="password" id="token" name="token" >
                </p>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>